ALTER TYPE proposal_status ADD VALUE IF NOT EXISTS 'QUALIFICACAO'; ALTER TYPE proposal_status ADD VALUE IF NOT EXISTS 'EM_ELABORACAO'; ALTER TYPE proposal_status ADD VALUE IF NOT EXISTS 'ENVIADA'; ALTER TYPE proposal_status ADD VALUE IF NOT EXISTS 'EM_NEGOCIACAO'; ALTER TYPE proposal_status ADD VALUE IF NOT EXISTS 'FECHADO_GANHO'; ALTER TYPE proposal_status ADD VALUE IF NOT EXISTS 'FECHADO_PERDIDO';
